.root{
    -fx-focus-color: transparent; /* Przezroczysty kolor focus ringa */
    -fx-faint-focus-color: transparent; /* Przezroczysty kolor dla nieaktywnego focus ringa */
}
.body{
    -fx-font-family: "Calibri";
    -fx-font-smoothing-type: lcd;
}


.loginContainer{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-background-radius: 15;
    -fx-opacity: 65%;
    -fx-padding: 20 20 0 0;
}
.noOpacityContainer{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-background-radius: 15;
    -fx-padding: 20 20 0 0;
}
.normalContainer{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-padding: 20 20 0 0;
}
.normalContainerLowOpacity{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-padding: 20 20 0 0;
    -fx-background-radius: 0 0 15 15;
    -fx-opacity: 0.3;
}
.normalContainerMediumOpacity{
    -fx-opacity: 0.75;
}
.normalContainerCut{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-padding: 20 20 0 0;
    -fx-background-radius: 15;
    -fx-opacity: 0.9;
}



.loginTopTitleLabel{
    -fx-font-size: 30px;
    -fx-text-fill: #FFFFFF;
}
.loginTitleLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
}
.mediumTextStyle {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
}
.mediumTextStyle:hover {
    -fx-font-weight: bold;
}
.mediumTextStyle2 {
    -fx-font-size: 20px;
    -fx-text-fill: #C5BCF5;
    -fx-font-weight: bold;
}
.mediumWhiteTextStyleB {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.largeTextStyle{
    -fx-font-size: 28px;
     -fx-text-fill: #FFFFFF;
     -fx-font-weight: bold;
     -fx-font-family: "Arial";
}
.textField{
    -fx-background-radius: 30;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 15;
}
.textFieldColor{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-padding: 15;
}
.smallBoldTextStyle{
    -fx-text-fill: #C5BCF5;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.whiteLabel{
    -fx-font-size: 13px;
    -fx-fill: white;
}



.labelClick{
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
}
.labelClick:hover {
  -fx-font-weight: bold;
  -fx-cursor: hand;
}
.labelClick:pressed {
    -fx-text-fill: #C5BCF5;
    -fx-cursor: hand;
}
.buttonStyle{
    -fx-font-size: 20px;
    -fx-background-radius: 30;
}
.buttonStyle:hover {
  -fx-background-color: linear-gradient(#1D0248, #1D0268);
  -fx-text-fill: #FFFFFF;
  -fx-cursor: hand;
}
.buttonStyle:pressed {
    -fx-background-color: linear-gradient(#0A0238, #0B0268);
    -fx-text-fill: grey;
    -fx-cursor: hand;
}
.buttonStyleActual{
    -fx-font-size: 20px;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}
.buttonStyleSmaller{
    -fx-font-size: 15px;
    -fx-background-radius: 30;
}
.buttonStyleSmaller:hover {
  -fx-background-color: linear-gradient(#1D0248, #1D0268);
  -fx-text-fill: #FFFFFF;
  -fx-cursor: hand;
}
.buttonStyleSmaller:pressed {
    -fx-background-color: linear-gradient(#0A0238, #0B0268);
    -fx-text-fill: grey;
    -fx-cursor: hand;
}
.buttonStyleDarker{
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3D16AF, #060E43);
    -fx-background-radius: 15;
    -fx-opacity: 90%;
}

.buttonStyleDarker:hover {
  -fx-background-color: linear-gradient(#1D0248, #1D0268);
  -fx-text-fill: #FFFFFF;
  -fx-cursor: hand;
}
.buttonStyleDarker:pressed {
    -fx-background-color: linear-gradient(#0A0238, #0B0268);
    -fx-text-fill: grey;
    -fx-cursor: hand;
}

.text-area {
    -fx-opacity: 0.75;
    -fx-wrap-text: true;
}

.tableView{
    -fx-background-color: linear-gradient(#432DB3, #2D1990);
    -fx-background-radius: 15;
    -fx-opacity: 0.9;

}
.tableView .table-column{
    -fx-alignment: CENTER;
}
.tableView .column-header, .filter{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-size: 40px;
    -fx-background-radius: 20px;
    -fx-padding: 0 0 0 15;
}

.tableView .column-header-background{
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 15 15 0 0;
}
.table-view .column-header .label{
    -fx-text-fill: #FFFFFF;
}



.list-view{
    -fx-opacity: 0.75;
}
.list-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.list-cell {
    -fx-pref-height: 50px;
}
.list-cell:hover {
    -fx-background-color: linear-gradient(#360EAB, #360E83);
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}
.list-cell:selected{
    -fx-background-color: linear-gradient(#2600AB, #260083);
    -fx-text-fill: #FFFFFF;
}



.bar-chart{
    -fx-background-color: linear-gradient(#2D1990, #432DB3);

}
.axis{
    -fx-tick-label-fill: #FFFFFF;
    -fx-opacity: 0.7;

}
.axis-label{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.chart-bar {
    -fx-background-color: linear-gradient(#2D1990, #432DB3);
    -fx-border-color: #000000 transparent rgba(0,168,355,0.3);
}



.chart-pie{
    -fx-stroke: #000000;
}
.chart-pie-label{
    -fx-fill: #C5BCF5;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.default-color0.chart-pie { -fx-pie-color: #62831D; }
.default-color1.chart-pie { -fx-pie-color: #5C4ACF; }



.default-color0.chart-series-line { -fx-stroke: #62831D; }
.default-color1.chart-series-line { -fx-stroke: #5C4ACF; }

.default-color0.chart-line-symbol { -fx-background-color: #62831D, #62831D; }
.default-color1.chart-line-symbol { -fx-background-color: #5C4ACF, #5C4ACF; }